body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img {
    max-width: 90%;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
}


.circle-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid #0f4246b0;
    /* מיקום קבוע בצד שמאל למעלה */
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    /* להבטיח רקע נקי */
    z-index: 1000;
    /* להבטיח שהעיגול יישאר על כל האלמנטים */
}

.circle-input {
    width: 60%;
    height: 50%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    background: transparent;
    margin-right: 10px;
}

.circle-input::-webkit-inner-spin-button,
.circle-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.percent-symbol {
    position: absolute;
    right: 2%;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.buttons-container {
    position: fixed;
    top: 100px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

}

button {
    padding: 1px 2px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #148a76;
    color: white;
    transition: background-color 0.3s;
    height: 30px;
    width: 30px;

}

button:hover {
    background-color: #b80505;
}

button:active {
    background-color: #3e8e41;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#uploadPdf {
    position: fixed;
    top: 250px;
}

.welcome-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000;
    text-align: center;
}

.welcome-message1 {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
    color: rgb(103, 116, 226);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 40px;
    z-index: 1000;
    text-align: center;
    font-weight: bold;
    transition: opacity 1s ease;
}

.button12 {
    position: fixed;
    top: 70px;
    left: 10px;
}

.hidden {
    display: none !important;
}


.draggable {
    position: fixed;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    cursor: move;
    top: 400px;
}

.draggable button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: 16px;
}

.draggable button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#bpm-input {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
}

#start-stop {
    padding: 0px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45px;
    height: 35px;
}

#start-stop:hover {
    background-color: #0056b3;
}

#indicator {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    background-color: transparent;
    border: 2px solid #007BFF;
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
    z-index: 10;
}

#indicator.active {
    background-color: red;
    /* הצבע הופך לאדום */
    transform: scale(1.2);
    /* גדל מעט */
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#searchSongInput {
    width: 60px;
}